{% extends "base.html" %}
{% load static %}
{% block navbar %}{% endblock %}
{% load add_class %}
{% block content %}
<div class="container">
    <form action="{% url 'create-profile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading" style=" background-color: #202020; color: white;">Create or Update your
                    profile
                </div>
                <div class="panel-body dark-background">
                    {% if error_message %}
                    <p class="bg-danger p-d ml-b" style="background-color: #333; color: red;">{{ error_message }}</p>
                    {% endif %}
                    <!-- Profile Form -->
                    <h3>Profile Information</h3>
                    <div class="form-group clearfix">
                        <label for="name" class="col-md-4 control-label text-right">Name:</label>
                        <div class="col-md-6">
                            {{ profile_form.name.errors }}
                            <input name="name" value="{{profile_form.name.value | default_if_none:''}}" type="text"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="about" class="col-md-4 control-label text-right">About me:</label>
                        <div class="col-md-6">
                            {{ profile_form.about.errors }}
                            <textarea name="about" rows="4" cols="50" class="form-control">{{ profile_form.about.value|default_if_none:'' }}</textarea>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="country" class="col-md-4 control-label text-right">Country:</label>
                        <div class="col-md-6">
                            {{ profile_form.country|add_class:"form-control" }}
                            {{ profile_form.country.errors }}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="city" class="col-md-4 control-label text-right">City:</label>
                        <div class="col-md-6">
                            {{ profile_form.city.errors }}
                            <input name="city" value="{{profile_form.city.value | default_if_none:''}}" type="text"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="instagram" class="col-md-4 control-label text-right">Instagram:</label>
                        <div class="col-md-6">
                            {{ profile_form.instagram.errors }}
                            <input name="instagram" value="{{profile_form.instagram.value | default_if_none:''}}"
                                   type="text"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="strava" class="col-md-4 control-label text-right">Strava:</label>
                        <div class="col-md-6">
                            {{ profile_form.strava.errors }}
                            <input name="strava" value="{{profile_form.strava.value | default_if_none:''}}" type="text"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="profile_photo" class="col-md-4 control-label text-right">Profile Photo:</label>
                        <div class="col-md-6">
                            {{ profile_form.profile_photo.errors }}
                            <input name="profile_photo"
                                   value="{{profile_form.profile_photo.url | default_if_none:''}}" type="file"
                                   class="form-control">
                        </div>
                    </div>

                    <!--                    {% if profile_form.profile_photo %}-->
                    <!--                    <div>-->
                    <!--                        <img src="{{ profile_form.profile_photo.url }}" alt="Profile Photoxx" class="existing-photo">-->
                    <!--                    </div>-->
                    <!--                    {% else %}-->
                    <!--                    <p>No profile photo uploaded.</p>-->
                    <!--                    {% endif %}-->

                    <div class="col-md-6 col-md-offset-4">
                        <input type="submit" value="Save profile" class="submit-button"/>
                        <a href="{% url 'profile' %}" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}