{% extends "base.html" %}
{% load static %}
{% block navbar %}{% endblock %}
{% load add_class %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}?v={% now 'U' %}">
<div class="grid-overlay"></div>

<div class="create-container">
    <div class="create-panel">
        <h2>Create or Update Your Profile</h2>

        <form class="centered-form" hx-post="{% url 'create-profile' %}" hx-target="#entire-page" hx-swap="innerHTML">
            {% csrf_token %}

            {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
            {% endif %}

            <div class="form-group">
                <label for="name">Name:</label>
                {{ profile_form.name.errors }}
                <input name="name" value="{{ profile_form.name.value|default_if_none:'' }}" type="text"
                       class="form-control"/>
            </div>

            <div class="form-group">
                <label for="about">About me:</label>
                {{ profile_form.about.errors }}
                <textarea name="about" rows="4"
                          class="form-control">{{ profile_form.about.value|default_if_none:'' }}</textarea>
            </div>

            <div class="form-group">
                <label for="country">Country:</label>
                {{ profile_form.country|add_class:"form-control" }}
                {{ profile_form.country.errors }}
            </div>

            <div class="form-group">
                <label for="city">City:</label>
                {{ profile_form.city.errors }}
                <input name="city" value="{{ profile_form.city.value|default_if_none:'' }}" type="text"
                       class="form-control"/>
            </div>

            <div class="form-group">
                <label for="instagram">Instagram:</label>
                {{ profile_form.instagram.errors }}
                <input name="instagram" value="{{ profile_form.instagram.value|default_if_none:'' }}" type="text"
                       class="form-control"/>
            </div>

            <div class="form-group">
                <label for="strava">Strava:</label>
                {{ profile_form.strava.errors }}
                <input name="strava" value="{{ profile_form.strava.value|default_if_none:'' }}" type="text"
                       class="form-control"/>
            </div>

            <div class="form-group">
                <label for="profile_photo">Profile Photo:</label>
                {{ profile_form.profile_photo.errors }}
                <input name="profile_photo" type="file" class="form-control"/>
            </div>

            <!-- Form Buttons -->
            <div class="form-actions">
                <input type="submit" value="Save Profile" class="login-button"/>
                <a href="{% url 'profile' %}" hx-get="{% url 'profile' %}" hx-target="#entire-page" hx-swap="innerHTML"
                   class="cancel-link">
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>

{% endblock %}