{% extends "base_generic.html" %}

{% block content %}
<h2 style="color: white; margin-left: 20px;">Create or Update Your Profile</h2>

<form method="post" enctype="multipart/form-data" style="color: white; margin-left: 20px;">
    {% csrf_token %}
    <!--    <div style="display: flex; flex-direction: column; justify-content: flex-start;">-->
    {{ profile_form.as_p }}
    <!--    </div>-->
    <h3>Upload Bike Photos</h3>
    {{ bike_photo_form.photo.label_tag }}
    <input type="file" name="photo" multiple><br>

    <button type="submit"
            style="padding: 10px; background-color: purple; color: white; text-decoration: none; border-radius: 5px; cursor: pointer; cursor: hand;">
        Save Profile
    </button>
</form>

{% if profile.profile_photo %}
<h3>Current Profile Photo</h3>
<img src="{{ profile.profile_photo.url }}" alt="Profile Photo" width="150">
{% endif %}
{% endblock %}
