{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="jumbotron" style="margin-top: 50px; padding: 40px; background-color: #9f9f8f;">
        <h1 class="display-4" style="color: #202020;">Fixed gear community map</h1>
        <p class="lead" style="color: #333;">Discover and connect with other riders in your community.</p>
        <hr class="my-4" style="border-top: 2px solid #ccc;">
        <p style="color: #555;"> We offer a wide range of services and features that will help you grow and connect with
            others. Join our community today.</p>
    </div>
    <div id="map"></div>
    <script defer src="{% static 'map.js' %}"></script>
</div>
{% endblock %}
