{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}?v={% now 'U' %}">

<div class="grid-overlay"></div>

<div class="hero-text">
    <h1>Fixed Gear Community Map</h1>
    <p>Discover and connect with other riders in your city. Ride together, explore more!</p>
    <a href="{% url 'signup' %}" class="join-button">Join Now</a>
</div>

<div id="map"></div>
<script>
    const markerData = {{ marker|safe }};
</script>
<script defer src="{% static 'map.js' %}"></script>
{% endblock %}
