{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    body {
        height: 100vh;
}
</style>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}?v={% now 'U' %}">

<div class="grid-overlay"></div>

<div class="login-container">
    <form hx-post="{% url 'login' %}" hx-target="#entire-page" hx-swap="innerHTML" hx-push-url="true" id="login-form"
          class="login-panel">
        {% csrf_token %}
        <h2>Login</h2>

        <div id="error-message-container">
            {% if error_message %}
            <p style="color: red; font-weight: bold;">{{ error_message }}</p>
            {% endif %}
        </div>

        <input type="hidden" name="user_id" id="user-id-input" value="">

        <input name="email" type="email" placeholder="Email" required/>
        <input name="password" type="password" placeholder="Password" required/>

        <input type="submit" value="Login" class="login-button"/>

        <p class="register-link">Don't have an account? <a href="{% url 'signup' %}" hx-get="{% url 'signup' %}"
                                                           hx-target="#entire-page" hx-swap="innerHTML">Register</a></p>
    </form>
</div>

<script defer src="{% static 'login_userid.js' %}"></script>
{% endblock %}
