{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}?v={% now 'U' %}">
<div class="grid-overlay"></div>

<div class="form-container">
    <div class="form-panel">
        <h2>Upload, Delete, or Rearrange Photos</h2>

        <div class="form-group">
            <label for="photo">Upload Bike Photo:</label>
            <form hx-post="{% url 'upload-photo' %}" hx-target="#entire-page" enctype="multipart/form-data"
                  hx-trigger="change from:#photo-input">>
                {% csrf_token %}
                {{ bike_photo_form.photo.errors }}
                <input type="file" name="photo" id="photo-input" class="form-control">
                <!--                <button type="submit" class="login-button">Upload Photo</button>-->
            </form>
        </div>

        <form hx-post="{% url 'manage-bikes' %}" hx-target="#entire-page" hx-swap="innerHTML">
            {% csrf_token %}

            {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
            {% endif %}

            <!-- Display existing photos -->
            <div class="photo-gallery" id="sortable-list">
                {% for photo in user_photos %}
                <div class="photo-item">
                    <img src="{{ photo.photo.url }}" alt="Bike Photo" class="thumbnail-manage">
                    <div class="drag-handle">
                        <i class="fa-solid fa-grip-vertical"></i>
                    </div>
                    <input type="hidden" name="photo-order[]" value="{{ photo.id }}">

                    <div class="form-group">
                        <label for="bike_model">Bike Model:</label>
                        {{ photo.bike_model.errors }}
                        <input name="bike_model" value="{{ photo.bike_model }}" type="text" class="form-control"/>
                    </div>

                    <!-- Delete button for each photo -->
                    <button type="button" class="delete-button" data-photo-id="{{ photo.id }}"
                            onclick="deletePhoto(this)">
                        Delete
                    </button>
                </div>
                {% empty %}
                <p>No photos uploaded yet.</p>
                {% endfor %}
            </div>

            <div class="form-actions">
                <input type="submit" value="Save Changes" class="login-button"/>
                <a href="{% url 'profile' %}" hx-get="{% url 'profile' %}" hx-target="#entire-page" hx-swap="innerHTML"
                   class="cancel-link">
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>
<script defer src="{% static 'managing_bikes.js' %}"></script>
<script>
    document.addEventListener('htmx:afterSwap', function() {
        window.scrollTo(0, 0); // Scroll to the top of the page
    });
</script>
{% endblock %}