{% extends "base.html" %}
{% load static %}
{% block navbar %}{% endblock %}

{% block content %}
<!--<h2 style="text-align: center;">{{ profile.name }}'s profile</h2>-->

<!-- Display Profile Information -->
<div class="profile-container">
    <!-- Profile Info Section -->
    <div class="profile-info">
        <h2>{{profile.name}}</h2>
        {% if profile.profile_photo %}
        <div>
            <img src="{{ profile.profile_photo.url }}" alt="Profile Photo" width="300" class="thumbnail"
                 onclick="showModal('{{ profile.profile_photo.url }}')">
        </div>
        {% else %}
        <div>
            <img src="{% static 'default-avatar-profile.jpg' %}" alt="Profile Photo" width="300">
        </div>
        {% endif %}
        <p><strong>About:</strong></p>
        <!--        <pre>{{ profile.about }}</pre>-->
        <p>{{ profile.about|linebreaks }}</p>
        <p><strong>City:</strong> {{ profile.city }}</p>
        <p><strong>Country:</strong> {{ profile.country }}</p>
        <p><strong>Instagram:</strong>
            {% if profile.instagram %}
            <a href="{{ profile.instagram }}" target="_blank">{{ profile.instagram_username }}</a>
            {% else %}
            None
            {% endif %}
        </p>
        <p><strong>Strava:</strong>
            {% if profile.strava %}
            <a href="{{ profile.strava }}" target="_blank">Strava profile</a>
            {% else %}
            None
            {% endif %}
        </p>
    </div>
    <!-- Button to Edit Profile -->
    {% if profile.user == user %}
    <div style="margin-left: 20px;">
        <a href="{% url 'create-profile' %}"
           style="padding: 10px; background-color: purple; color: white; text-decoration: none; border-radius: 5px;">Edit
            Profile</a>

    </div>
    <!-- Bike Photos Section -->
    <div class="bike-photos-container">
        <h3>Bike Photos</h3>
        {% if bike_photos %}
        <div class="bike-photos">
            {% for bike_photo in bike_photos %}
            <div class="bike-photo">
                <!--                <p><strong>Bike Model:</strong> {{ bike_photo.bike_model }}</p>-->
                <img src="{{ bike_photo.photo.url }}" alt="{{ bike_photo.bike_model }}"
                     class="thumbnail"
                     onclick="showModal('{{ bike_photo.photo.url }}', 'Bike Model: {{ bike_photo.bike_model }}')">

                <!--                {% if profile.user == user %}-->
                <!--                <form action="{% url 'delete-photo' bike_photo.id %}" method="post" style="display: inline;">-->
                <!--                    {% csrf_token %}-->
                <!--                    <button type="submit" class="delete-button">Delete photo</button>-->
                <!--                </form>-->
                <!--                {% endif %}-->
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No bike photos uploaded yet.</p>
        {% endif %}
    </div>
    <!-- Modal for image popup -->
    <div id="photoModal" class="modal" onclick="hideModal()">
        <span class="close">&times;</span>
        <img class="modal-content" id="modalImage">
        <div id="modalCaption" class="modal-caption"></div>
    </div>
</div>

{% endif %}
{% endblock %}
