{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    body {
        height: 100vh;
    }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}?v={% now 'U' %}">
<div class="grid-overlay"></div>

<div class="login-container">
    <form hx-post="{% url 'signup' %}" hx-target="#entire-page" hx-swap="innerHTML" hx-push-url="true"
          class="login-panel">
        {% csrf_token %}
        <h2>Register</h2>

        <div id="error-message-container">
            {% if error_message %}
            <p style="color: red; font-weight: bold;">{{ error_message }}</p>
            {% endif %}
        </div>

        <input name="email" type="email" placeholder="Email" required/>
        <input name="password1" type="password" placeholder="Password" required/>
        <input name="password2" type="password" placeholder="Confirm Password" required/>

        <input type="submit" value="Register" class="login-button"/>

        <p class="register-link">Already have an account? <a href="{% url 'login' %}" hx-get="{% url 'login' %}"
                                                             hx-target="#entire-page" hx-swap="innerHTML">Login</a></p>
    </form>
</div>

{% endblock %}
